
*{
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #d6e2f0;
}

#container{
    width: 350px;
    height: 520px;
    background-color: #fff;
    border-radius: 20px;
    margin-top : 7rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.qr-image{
    text-align: center;
    padding-bottom: 1rem;
}
.qr-image img{
    width: 100%;
    border-radius: 25px;
    padding: 0.5rem;
}

h2{
    font-weight: 700;
    text-align: center; 
    padding: 0 1.3rem;
    color: #1f3251;
}

p{
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #7b879d;
  padding: 1rem 2.5rem;
}

/*


Media Queries





*/

@media screen and (max-width: 480px) {
    #container {
      background-color: #d6e2f0;
      margin-top: 93%;
    }
  }

  @media screen and (max-width: 375px) {
    #container {
      background-color: #d6e2f0;
      margin-top: 93%;
    }
  }  

 
